<h1>GAME</h1>
<%= link_to 'Title', nekotapi_title_path %>

<script>
var a=234;
console.log(a);

function openSubmit() { location.href = '/nekotapi/submitscore/'+a; }

</script>

<a href="javascript:void('0');" onclick="openSubmit()">submitscore</a>